body {
  background: rgb(137, 158, 136);
  background: linear-gradient(
    90deg,
    rgb(115, 152, 113) 0%,
    rgb(129, 163, 136) 44%,
    rgb(129, 173, 132) 100%
  );
}
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
.header {
  background-color: rgba(116, 144, 122, 0.9);
  width: 100%;
}

.headerul li {
  font-family: "Lato", sans-serif;

  font-size: 20px;
}
.navh2 {
  font-family: "Maitree", serif;
  font-style: oblique;
  font-size: 35px;
}
.img-sec {
  background-image: url("homeimages/header11.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  object-fit: contain;
}
.img-p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: normal;
  font-style: italic;
}
.img-h1 {
  font-size: 60px;
}
.img-p2 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: italic;
}
.img-sec-div {
  background-color: rgba(116, 144, 122, 0.6);
}
.about-us {
  margin-top: 20px;
  background-image: url("homeimages/aboutus.jpg");
  height: 200vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  object-fit: contain;
  margin-top: 220px;
}
.abth1 {
  font-family: "Lato", sans-serif;
  font-size: 50px;
  color: white;
  background-color: rgba(116, 144, 122, 0.8);
}
/* Who we are */
.whoh5 {
  font-family: "Maitree", serif;
  font-weight: bold;
  color: #47663e;
}
.whop {
  font-family: "Maitree", serif;

  color: #47663e;
}
.whop2 {
  font-family: "Maitree", serif;
  font-size: 20px;
  text-align: justify;
  color: #47663e;
}
.whowerow {
  gap: 2rem;
}
.fijippl-div {
  top: 80%;
}

.abtp {
  font-family: "Maitree", serif;
  font-size: 25px;
  text-align: justify;
  color: white;
}
.abtcolp {
  background-color: rgb(126, 133, 140, 0.7);
}
.abt3 {
  background-image: url("homeimages/aboutus.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  object-fit: contain;
}
/* License  */
.l-cont {
  background: rgba(192, 184, 184, 0.222);
  border-radius: 40px;
}
.l-h2 {
  font-family: "Maitree", serif;
  font-size: 50px;
  text-align: justify;
  color: #517c45;
  font-weight: bold;
}
.l-h3 {
  font-family: "Maitree", serif;
  font-size: 17px;
  text-align: center;
  color: #517c45;
}
/* Teams */
.team-h3 {
  font-family: "Maitree", serif;
  font-size: 30px;
  text-align: center;
  color: #517c45;
  font-weight: bold;
}
.team-p {
  font-family: "Maitree", serif;
  font-size: 14px;
  text-align: center;
  color: #517c45;
}
.team-col {
  transition: 0.3s all;
}
.team-col:hover {
  transform: translateY(-10%);
}
.bi-envelope {
  font-family: "Maitree", serif;
  font-size: 20px;
  color: #517c45;
}
/* Footer */
footer {
  background-color: #47663e;
}
.footer-ul {
  font-family: "Maitree", serif;
  font-size: 15px;
  color: white;
}
.adres {
  color: black !important;
}
/*-------------------------------------- Herbaltea-Section------------------------------------------------- */

.herbal-img-sec {
  background-image: url("teaimages/About\ header.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  object-fit: contain;
}
.header-herbal-h1,
.home-header-h1 {
  font-family: "Maitree", serif;
  font-size: 70px;
  font-style: oblique;
}
.img-sec-div-herbal {
  background-color: rgba(136, 153, 140, 0.6);
}
.header-h1 {
  font-family: "Maitree", serif;
  font-style: oblique;
}
@media only screen and (max-width: 600px) {
  .whowerow {
    gap: 2rem;
  }
  .fijippl-div {
    top: 80%;
  }
  .whoh5abt {
    font-size: 25px;
  }
  .about-us {
    margin-top: 390px;
  }
  .abtp {
    font-size: 15px;
  }
  .imgcolabt2 {
    width: 400px;
  }
  .abt3colimg {
    display: none !important;
  }
  .header-herbal-h1,
  .home-header-h1 {
    font-size: 40px;
  }
}
